/* BREAKPOINT DESKTOP 800x600 */
@media(max-width: 50em) {

    /* Configura o header da pagina */
    .main_header {
        background-image: url('../img/background-main.jpg');
        background-size: 750%;
        background-position-y: 50%;
        text-align: center;
    }
    /* Configura h1 do header */
    .main_header h1 {
        font-family: 'Lato', sans-serif;
        font-size: 2.5em;
        font-weight: 800;
        color: #fff;
        text-transform: uppercase;
    }
    /* Configura p do header */
    .main_header p {
        font-size: 1.15em;
        color: #E3E7E8;
    }
    /* Configura o flexbox pai */
    .flexbox_header {
        display: flex;
        flex-flow: row wrap;
        padding: 6% 9%;
        width: 58.56515373352855;
        height: 375px;
    }
    /* Configura o flexbox filho */
    .flexbox_header_item {
        flex-basis: 100%;
    }
    /* Configura o buttom Inscreva-se */
    .btn_apply_form {
        font-size: 1.3em;
        border-bottom: 2px solid #005B27;
        border-right: 2px solid #005B27;
    }
    .btn_apply_form:hover {
        border-bottom: 2px solid #00B446;
        border-right: 2px solid #00B446;
    }
    /* Configura o box pai com display flex */
    .flex_box_article {
        position: relative;
        top: 20px;
        display: flex;
        flex-flow: row nowrap;
        padding: 0% 6%;
        justify-content: space-between;
        width: 58.56515373352855;       
        max-height: 225px;
    }
    /* Configura o box filho com display flex */
    .flex_box_article_item {
        flex-basis: 23%;
    }
    /* Configura h1 do article da pagina */
    .main_article h1 {
        font-weight: 700; 
        font-size: 1em;
        text-align: center;
    }
    /* Configura p do article da pagina */
    .main_article p {
        font-size: 0.87em;
        font-weight: 400;
        text-align: center;
    }
    .main_article span {
        font-size: 0.996em;
        font-weight: 500;
    }
    /* Configura feedbacks no form da modal */
    #feedback-name, #feedback-email {
        display: none;
        margin-top: 5px;
        color: red;
    }
    #apply-success {
        display: none;
    }
    #apply-error {
        display: none;
    }
    .feedback_close {
        float: right;
        padding: 2px 6px;
        background: rgba(108, 122, 137, 0.5);
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
    }
    .feedback_close:hover {
        background: rgba(108, 122, 137, 1);
    }
}

/* BREAKPOINT MOBILE 376x667 */
@media(max-width: 23.5em) {
   
    .flexbox_header {
        padding: 8% 2%;
    }
    .main_header {
        background-size: 1559%;
        height: 400px;
    }
    .main_header p {
        font-size: 1.1em;
    }
    .btn_apply_form {
        left: 32%;
    }
    .flex_box_article{
        flex-flow: column;
        padding: 0 3%;
    }
    .flex_box_article_item {
        flex-basis: 100%;
    }
    .main_article {
        margin-top: 20px;
        margin-right: 0px; 
    }
    .main_article h1 {
        margin-top: 20px;
    }
}